@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,100&display=swap');

:root{
    --green:green;
    --black:#130f40;
    --light-color:#666;
    --box-shadow: 0 .1rem 1rem rgba(1,1,0.2);
    --border: 2rem solid rgba(0,0,0.1);
    --outline: .1rem solid rgba(0,0,0.1);
    }
*{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top:7rem;
}

body {
    background-color: #eee !important;
}

.header{
    background-color: #fff;
    position: fixed;
    top:0;
    left:0;
    right:0;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 2rem 9%;
    box-shadow: var(--box-shadow);
}
.header .logo {
    font-size: 2.2rem !important;
    font-weight: bolder !important;
}
.header .logo i{
    color: var(--green);
}
.header .navbar a{
    font-size: 1.7rem;
    margin:0 1rem;
    color: var(--black)
}
.header .navbar a:hover{
    color:var(--green)
}

.header .icons div{
    height: 4.5rem;
    width:4.5rem;
    border: 1px solid;
    line-height: 4.5rem;
    border-radius: .5rem;
    background-color: #eee;
    color: var(--black);
    font-size: 2rem;
    text-align: center;
    margin-right: 2px;
    border: none;
}
.header .icons div:hover{
    background-color: var(--black);
    color:#fff;
    cursor: pointer;
}
#menu-btn{
    display: none;
}
.search{
    border: 1px solid;
    position: absolute;
    top:110%;
    right:2rem;
    width: 30rem;
    height: 4rem;
    background:#fff;
    border-radius: 5px;
    border:none;
    overflow:hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}
.search input {
    width: 100%;
    height:100%;
    padding:1rem;
}

.search label{
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
    padding:1rem;
}
.search label:hover{
    background-color: rgb(58, 238, 58);
    border-radius: 20px;
    color:#fff;
    cursor: pointer;
}